@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "Inter", sans-serif;
}


h1 {
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: -0.1rem;
	line-height: 1.2;
}

p {
	font-family: "Geist Mono";
	font-weight: 400;
	font-size: 0.85rem;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;	
}

nav {	
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	z-index: 2;
}

nav p {
	text-transform: uppercase;
	font-size: 0.75rem;
	color: #fff;
}

nav .logo {
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: 0.25rem;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px);
	padding: .5rem 1rem;
	overflow: hidden;

}


section {
	position: relative;
	width: 100%;
	height: 100svh;
	overflow: hidden;

	/*min-height: 100vh;
  	height: auto;*/
}


/*LOADER:*/

/* Loader overlay */
.loader {
	position: fixed;
	inset: 0;
	z-index: 9999;

	display: flex;
	align-items: center;
	justify-content: center;

	background: black;
	color: white;

	pointer-events: all;
}

/* Centered content */
.loader-inner {
	text-align: center;
	justify-content: center;
}

/* Subtle motion-friendly text */
.loader-label {
	font-family: "Geist Mono";
	font-size: 0.85rem;
	letter-spacing: 0.35em;
	text-transform: uppercase;
	opacity: 0.85;
	align-content: center;
	padding-top: 200px;
}


body.is-loading {
	overflow: hidden;
}


.logo-cont {
	padding-top: 200px;
}

.logo-img { 
	width: 280px; 
	height: 160px; 
} 
/*LOADER END*/


.intro, .outro {
	padding: 2rem;
	align-content: center;
	background-color: #0f0f0f;
	color: #fff;
}

.intro h1, .outro h1 {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.contact-us {
	background-image: url("/images/sunset-bridge.png");
	/*background-image: url("images/Serene-Monochromatic-Landscape.png");*/
	background-size: cover; 
	background-position: bottom; 
	background-repeat: no-repeat;
	color: white;
}

.start {
	background-image: url("/images/ethereal-ascent.png");
	background-size: cover; 
	background-position: bottom; 
	background-repeat: no-repeat; /* Prevents the image from repeating */
	/*display: flex;*/

	display: flex;
	align-items: center;
	justify-content: center;
	

	color: white;
	font-size: 10rem;
	font-weight: 600;

}

.cover-title {
	position: relative;
	/*z-index: 2;*/
	justify-content: center;

	font-size: 10rem;
	font-weight: 600;
}

.start .title-ele {
	font-size: clamp(6rem, 15vw, 10rem);
	font-weight: 600;
	letter-spacing: 0.35em;
	text-transform: uppercase;
}

.contact-us-cont {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100%;
	text-align: center;
	gap: 20px;
	width: 100%;
}

.contact-title {
	font-size: 4rem;
	font-weight: 600;
}

.contact-buttons {
	position: absolute;
	width: 100%;
	bottom: 10%;
	color: white;
}

.slider-images {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slider-images::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);	
}


.slider-images img {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: center;
	will-change: tranform, opacity;
}


.slider-title {
	position: absolute;
	top: 50%;
	left: 2rem;
	transform: translateY(-50%);
	width: 50%;
	color: #fff;
} 

.slider-indicator {
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
}

.slider-indices {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 1.25rem;
}

.slider-indices p {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #fff;
}

.index {
	position: relative;
	width: 1.25rem;
	display: flex;
	justify-self: flex-end;
	will-change: opacity;
}

.marker {
	position: relative;
	width: 0.75rem;
	height: 1px;
	background-color: #fff;
	transform-origin: right;
	will-change: transform;
	transform: scaleX(0);
}

.slider-progress-bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.35);
}

.slider-progress {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) scaleY(0);
	width: 3px;
	height: 100%;
	background-color: #fff;
	transform-origin: top;
	will-change: transform;
}


.line {
	position: relative;
	display: block;
	will-change: transform;

}

@media (max-width: 1000px) {

	section {
		min-height: 100vh;
  		height: auto;
	}

	.contact-us {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
  	}

  	.contact-us-cont {
	    height: auto;
	    gap: 1.5rem;
  	}

  	.contact-buttons {
	    position: relative;
	    bottom: 10%;
	    margin-top: auto;
	    padding-bottom: 4.5rem;
  	}

	h1 {
		font-size: 2rem;
		letter-spacing: 0;
	}

	nav {
		/*display: none;*/
		display: grid;
		justify-content: center;

	}

	nav .site-info {
		padding: 10px 0;
		justify-self: center;
	}

	.intro h1, .outro h1 {
		width: 100%;
	}

	.slider-title {
		top: 7rem;
		left: 0;
		transform: none;
		width: 100%;
		padding: 2rem;
	}

	.slider-indicator {
		top: unset;
		transform: none;
		bottom: 2rem;
	}
}




